{% extends "mysearch/layout.html" %}
{% load static %}
    {% block title%}
        <title>Search</title>
    {% endblock %}

    {% block body%}
        <div class="navbar">
            <a href="{% url 'imagesearch' %}">Images</a>
            <a href="{% url 'advancedsearch' %}">Advanced search</a>
        </div>
        <div class="searchfield">      
            <img id=logo src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
            <form action="https://google.com/search">
                <div class="quaryform">
                    <img id=lupa src="{% static 'mysearch/img/lupa.png' %}">
                    <input class="quary" type="text" name="q">
                </div>
                <div class=buttons>
                    <input type="submit" value="Google Search" name="btnK">
                    <input type="submit" value="I'm feeling lucky" name="btnI">
                </div>    
            </form>           
        </div> 
    {% endblock %}    
